<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{doc.title}} | {{site.title}}</title>
  <meta name="title" content="{{ doc.title }}">
  <meta name="citation_title" content="{{ doc.title }}">
  <meta name="og:title" content="{{ doc.title }}">
  <meta name="creator" content="notes.sinakhalili.com">
  <meta name="author" content="Sina Khalili">
  <meta name="citation_author" content="Sina Khalili">
  <link rel="index" title="Sina's notes" href="http://notes.sinakhalili.com">
  <meta name="og:site" content="https://notes.sinakhalili.com">
  <meta name="og:type" content="article">
  <link rel="canonical" href="https://notes.sinakhalili.com/{{doc.output_path}}">
  <link rel="stylesheet" href="/static/styles/main.css">
  <script>
  var currentTheme = localStorage.getItem("theme");

  if (currentTheme == "dark") {
    document.documentElement.setAttribute("data-theme", "dark");
  }
  </script>

</head>
<body>
{% block body %}{% endblock %}
</body>
<script src="/static/scripts/main.js"></script>
</html>
